/* 
    Created on : 06 23, 18, 10:51:05 PM
    Author     : CHRISTIAN MURILLO
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 100%;
    background: #F8F8FF;
}

.header {
    width: 90%;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    padding: 10px;
    border-bottom: none;
    margin: 50px auto 0px;
    border-radius: 10px 10px 0px 0px;
}

.content {
    width: 90%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*CSS Table*/
.table, th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    height: 15px;
    border-bottom: 2px solid #ddd;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

tr:hover {background-color: #f5f5f5;}

/*CSS Button*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success:hover {
    color: #fff;
    background-color: #4cae4c;
    border-color: #4cae4c;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-warning:hover {
    color: #fff;
    background-color: #eea236;
    border-color: #eea236;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d43f3a;
    border-color: #d43f3a;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.btn-info:hover {
    color: #fff;
    background-color: #46b8da;
    border-color: #46b8da;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default:hover {
    color: #333;
    background-color: #ccc;
    border-color: #ccc;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

/*CSS Form*/
form {
    margin: 0px auto;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group input {
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.btn {
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

/*CSS Grid*/
.grid-container-5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px 10px;
}

.grid-container-3 {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px 10px;
}

.grid-item-no-border {
    background-color: rgba(255, 255, 255, 0.8);
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    border-radius: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
}

.grid-item label {
    display: block;
    margin: 3px;
}

/*Others*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.color-red {
    color: red;
}